<doctype html>
<title>Add Product</title>
<h2>Add Product</h2>
<form method="post" action="/add_product">
    <dl>
		<p>
			<input name="inputProductID" value="" type="text" placeholder="Product ID" autocomplete="off" required>
		</p>
		<p>
			<input name="inputProductName" value="" type="text" placeholder="Product Name" autocomplete="off" required>
		</p>
        		<p>
			<input name="inputClassification" value="" type="text" placeholder="Classification" autocomplete="off" required>
		</p>
        <p>
			<input name="inputPrice" value="" type="text" placeholder="Price" autocomplete="off" required>
		</p>
        <p>
			<input name="inputInventory" value="" type="text" placeholder="Inventory" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>
</doctype>