<doctype html>
<title>Add Employee</title>
<h2>Add Employee</h2>
<form method="post" action="/add_employee">
    <dl>
		<p>
			<input name="inputEmployeeID" value="" type="text" placeholder="Employee ID" autocomplete="off" required>
		</p>
		<p>
			<input name="inputSSN" value="" type="text" placeholder="SSN" autocomplete="off" required>
		</p>
		<p>
			<input name="inputEmployeeName" value="" type="text" placeholder="Employee Name" autocomplete="off" required>
		</p>
        		<p>
			<input name="inputDepartment" value="" type="text" placeholder="Department" autocomplete="off" required>
		</p>
		<p>
			<input name="inputDeptPosition" value="" type="text" placeholder="Position" autocomplete="off" required>
		</p>
		<p>
			<input name="inputDateOfEntry" value="" type="text" placeholder="YYYY-MM-DD HH:MM:SS" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>
</doctype>