<doctype html>
<title>Add Delivery</title>
		 <div id="logo">
		 <img align="right" src="{{url_for('static', filename ='logo.png') }}" width="100" height="100" >
	</div>
<h2>Add Delivery</h2>
<form method="post" action="/add_delivery">
    <dl>
		<p>
			<input name="inputTrackingNumber" value="" type="text" placeholder="Tracking Number" autocomplete="off" required>
		</p>
		<p>
			<input name="inputCarrierName" value="" type="text" placeholder="Carrier Name" autocomplete="off" required>
		</p>
        		<p>
			<input name="inputContact" value="" type="text" placeholder="Contact" autocomplete="off" required>
		</p>
        <p>
			<input name="inputDeliverableID" value="" type="text" placeholder="Deliverable ID" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>
</doctype>