<doctype html>
<title>Add Deliverable</title>
<h2>Add Deliverable</h2>
<form method="post" action="/add_deliverable">
    <dl>
		<p>
			<input name="inputDeliverableID" value="" type="text" placeholder="Deliverable ID" autocomplete="off" required>
		</p>
		<p>
			<input name="inputOrderDate" value="" type="text" placeholder="Order Date" autocomplete="off" required>
		</p>
        		<p>
			<input name="inputDeliveryDate" value="" type="text" placeholder="Delivery Date" autocomplete="off" required>
		</p>
        <p>
			<input name="inputCustomerID" value="" type="text" placeholder="Customer ID" autocomplete="off" required>
		</p>
        <p>
			<input name="inputEmployeeID" value="" type="text" placeholder="Employee ID" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>
</doctype>