<doctype html>
<title>Edit Customer</title>
<h2>Edit Customer</h2>
<form method="post" action="/update_customer">
    <dl>
		<p>
			<input name="inputCustomerID" value="" type="text" placeholder="Customer ID" autocomplete="off" required>
		</p>
		<p>
			<input name="inputCustomerName" value="" type="text" placeholder="Customer Name" autocomplete="off" required>
		</p>
		<p>
			<input name="inputStreet" value="" type="text" placeholder="Street Name" autocomplete="off" required>
		</p>
        		<p>
			<input name="inputCity" value="" type="text" placeholder="City" autocomplete="off" required>
		</p>
		<p>
			<input name="inputZipcode" value="" type="text" placeholder="Zipcode" autocomplete="off" required>
		</p>
		<p>
			<input name="inputPhoneNumber" value="" type="text" placeholder="Phone Number" autocomplete="off" required>
		</p>
        		<p>
			<input name="inputEmployeeID" value="" type="text" placeholder="Employee ID" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>
</doctype>