<doctype html>
		 <div id="logo">
		 <img align="right" src="{{url_for('static', filename ='logo.png') }}" width="100" height="100" >
	</div>
<title>List of Employees</title>
	<h2>Employees</h2>

<p><a href="http://127.0.0.1:5000/table_list"> <button>Index</button> </a></p>
<p><a href="{{ url_for('.add_employee_view') }}"> <button>Add Employee</button> </a></p>


<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</doctype>

{{ table }}
