<doctype html>
    	 <div id="logo">
		 <img align="left" src="{{url_for('static', filename ='logo.png') }}" width="200" height="200" >
	</div>

    <style>a:link, a:visited {
  background-color: #5bb7ce;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #5bce86;
}
</style>

<br>
<br>
<br>

<br>
<br>
<br>

<br>
<br>
<br>

<br>
<br>
<br>
<title>Index</title>
<h2>Tables</h2>

<p><a href="http://127.0.0.1:5000/customers"> Show Customers </a></p>
<p><a href="http://127.0.0.1:5000/employees"> Show Employees </a></p>
<p><a href="http://127.0.0.1:5000/deliverables"> Show Deliverables </a></p>
<p><a href="http://127.0.0.1:5000/products"> Show Products </a></p>
<p><a href="http://127.0.0.1:5000/deliveries"> Show Delivery </a></p>
<p><a href="http://127.0.0.1:5000/order_list"> Show Order List </a></p>

<br>
<br>
<br>

<h2>Views</h2>
<p><a href="http://127.0.0.1:5000/long_term_employees"> Show Long Time Workers </a></p>
<p><a href="http://127.0.0.1:5000/customer_delivery"> Show Customer Delivery Information </a></p>
<p><a href="http://127.0.0.1:5000/customer_transactions"> Show All Customer Transactions </a></p>
</doctype>
